.lyrics-text-nodisplay {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    color: #9ea09b;
    opacity: 0;
    font-size: 4vh;
    user-select: none;

    transition-duration: 1000ms;
    transition-timing-function: linear;
}

.unselected-lyrics-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    color: #9ea09b;
    opacity: 1;
    font-size: 4vh;
    user-select: none;

    transition: opacity 500ms ease-in-out, top 200ms ease-in-out;
}

.selected-lyrics-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    color: white;
    font-weight: bold;
    opacity: 1;
    font-size: 4vh;
    user-select: none;

    transition-duration: 200ms;
    transition-timing-function: linear;
}
