.player {
    position: absolute;
    top:  0;
    left: 0;
}

.play-button {
    position: absolute;
    top: 0;
    left: 0;
}

.background-image {
    background-size: 100% 100%;
    filter: blur(60px);

    position: absolute;
    top:  0;
    left: 0;
}

.title-text {
    position: absolute;
    left: 50%;
    color: white;
    font-size: 42px;
    font-weight: bold;
    transform: translate(-50%, -50%);
}

.subtitle-text {
    position: absolute;
    left: 50%;
    color: #d5d5d2;
    font-size: 24px;
    transform: translate(-50%, -50%);
}
